img, video, .wp-caption {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 100%;
	height: auto !important;
}
audio {
	max-width: 100%;
}
.builder-container-outer-wrapper {
	max-width: 1100px;
	width: 100%;
}
#ie6 .builder-container-outer-wrapper,
#ie7 .builder-container-outer-wrapper,
#ie8 .builder-container-outer-wrapper {
	width: 1100px;
}
@media screen and (max-width: 1100px) {
	.builder-container {
		margin: 0 1.5em;
	}
}
@media screen and (max-width: 500px) {
	.builder-container {
		margin: 0 .75em;
	}
}
#builder-module-5277f03489de5 .builder-module-column-1-outer-wrapper {
	width: 100%;
}
#builder-module-5277f03489e55 .builder-module-column-1-outer-wrapper {
	width: 100%;
}
#builder-module-5277f03489ec4 .builder-module-column-1-outer-wrapper {
	width: 100%;
}
#builder-module-5277f03489f33 .builder-module-column-1-outer-wrapper {
	width: 100%;
}
