img, video, .wp-caption {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 100%;
	height: auto !important;
}
audio {
	max-width: 100%;
}
.builder-container-outer-wrapper {
	max-width: 1100px;
	width: 100%;
}
#ie6 .builder-container-outer-wrapper,
#ie7 .builder-container-outer-wrapper,
#ie8 .builder-container-outer-wrapper {
	width: 1100px;
}
@media screen and (max-width: 1100px) {
	.builder-container {
		margin: 0 1.5em;
	}
}
@media screen and (max-width: 500px) {
	.builder-container {
		margin: 0 .75em;
	}
}
#builder-module-5277f02ba5819 .builder-module-column-1-outer-wrapper {
	width: 100%;
}
#builder-module-5277f02ba5890 .builder-module-column-1-outer-wrapper {
	width: 100%;
}
#builder-module-5277f02ba5900 .builder-module-element-outer-wrapper {
	float: left !important;
	width: 65.909%;
	margin-left: 0%;
	margin-right: -100%;
}
#builder-module-5277f02ba5900 .builder-module-sidebar-outer-wrapper {
	float: left !important;
	width: 34.091%;
	margin-left: 65.909%;
	margin-right: -100%;
}
@media screen and (max-width: 586.66666666667px) {
	#builder-module-5277f02ba5900 .builder-module-element-outer-wrapper,
	#builder-module-5277f02ba5900 .builder-module-sidebar-outer-wrapper {
		float: none !important;
		width: auto;
		margin: 0;
	}
	#builder-module-5277f02ba5900 .builder-module-element-outer-wrapper .builder-module-block,
	#builder-module-5277f02ba5900 .builder-module-sidebar-outer-wrapper .builder-module-block,
	#builder-module-5277f02ba5900 .builder-module-element-outer-wrapper .widget,
	#builder-module-5277f02ba5900 .builder-module-sidebar-outer-wrapper .widget {
		margin: 0;
	}
}
#builder-module-5277f02ba596e .builder-module-column-1-outer-wrapper {
	width: 100%;
}
